* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Goudy Bookletter 1911, Cochin, Cambria, serif;
}

hr {
  width: 35em;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: yellow;
}

a:visited {
  color: yellow;
}

body {
  background-color: black;
  color: white;
  font-family: "Goudy Bookletter 1911", serif;
}

.container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.top {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.top h1 {
  font-size: 2.5em;
  font-family: "Cinzel", serif;
}

.top h2 {
  font-style: italic;
  font-size: 1.5em;
  font-weight: lighter;
}

.photo {
  display: none;
}

.photo img {
  width: 100%;
  padding: 2em;
}

.prev,
.next {
  color: white;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -3em;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6 ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(193, 193, 243, 0.3);
}

.lyrics {
  font-size: 1em;
  width: 100%;
  text-align: center;
  color: rgb(193, 193, 243);
}

/* .number {
  color: #f2f2f2;
  font-size: 0.8em;
  padding: 0.5em;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

/* .blacknum {
  color: black;
} */
*/ .active {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bottom {
  opacity: 0.5;
  font-size: 0.8em;
  display: flex;
  justify-content: end;
  padding-right: 2em;
}

@media only screen and (max-width: 31.25em) {
  .top,
  .lyrics {
    font-size: smaller;
  }
  hr {
    width: 19em;
  }

  .top h1 {
    padding-left: 1.5em;
  }
}

button {
  padding: 0.5em;
  background-color: rgb(193, 193, 243, 0.9);
  border: none;
  text-decoration: none;
  border-radius: 15%;
  cursor: pointer;
  transition-duration: 0.4s;
  color: black;
  text-align: center;
}

button:hover {
  background-color: rgb(52, 50, 50);
  color: white;
}

.center {
  display: flex;
  justify-content: center;
  margin-top: -2em;
}

.play,
.pause {
  margin: 2em;
}
