* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

.top {
  background-color: blue;
  display: flex;
  justify-content: center;
  padding: 1em;
}

.picture img {
  background-color: green;
  height: 50em;
  width: 30em;
}

.buttons {
  background-color: purple;
  display: flex;
  justify-content: center;
}
